body
  margin 0
  font-family sans-serif
  line-height 1.5
  color #555

h2
h3
  font-weight normal

.headLine
  padding 0.6em
  background #D52D30
  color #FFFFFF

.mainContainer
  padding 0.6em
  .sectionTitle
    font-size 1.3em
    border-bottom 2px solid #DDD
  .productContainer
    max-width 13em
    .image
      width 100%
    .detail
      font-size 0.9em
      height 2.5em
      font-weight normal
      overflow hidden
    .listPrice
      color #B2B0AE
    .salePrice
      color #333
    .installmentPrice
      color #D52D30
      font-size 1.5em
      line-height 1
      span
        font-size 0.6em
        vertical-align top
